{% extends 'base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3">

{%if user.is_authenticated%}

<h1>Heelo World</h1>

{%else%}

<h1>Login</h1>
<br/>
<form method="POST" action="{%url 'home'%}">
    {%csrf_token%}
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username/Email address</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp", name="user_name", placeholder="Username/Email" required>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1", name="password", placeholder="Password" required>
        </div>
        
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>
</div>
{%endif%}
{% endblock %}